<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NeedsMapper">
    <!--xml config form table needs-->
    <resultMap id="needsResult" type="pojo.Needs">
    <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="creatorId" column="creator_id"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.name!=null">AND name LIKE '%${pojo.name}%'</if>
            <if test="pojo.creatorId!=null">AND creator_id=#{pojo.creatorId}</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.name!=null">name=#{pojo.name},</if>
        <if test="pojo.creatorId!=null">creator_id=#{pojo.creatorId},</if>
    </sql>

    <select id="findById" resultMap="needsResult">
        SELECT * FROM needs
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM needs
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="needsResult">
        SELECT * FROM needs
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO needs
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE needs
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM needs WHERE id=#{id}
    </delete>
</mapper>