<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NeedsVersionMapper">
    <!--xml config form table needs_version-->
    <resultMap id="needsVersionResult" type="pojo.NeedsVersion">
    <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="needsId" column="needs_id"/>
        <result property="info" column="info"/>
        <result property="passed" column="passed"/>
        <result property="functionId" column="function_id"/>
        <result property="productVersionId" column="product_version_id"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.code!=null">AND code=#{pojo.code}</if>
            <if test="pojo.needsId!=null">AND needs_id LIKE '%${pojo.needsId}%'</if>
            <if test="pojo.info!=null">AND info LIKE '%${pojo.info}%'</if>
            <if test="pojo.passed!=null">AND passed=#{pojo.passed}</if>
            <if test="pojo.functionId!=null">AND function_id=#{pojo.functionId}</if>
            <if test="pojo.productVersionId!=null">AND product_version_id=#{pojo.productVersionId}</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.code!=null">code=#{pojo.code},</if>
        <if test="pojo.needsId!=null">needs_id=#{pojo.needsId},</if>
        <if test="pojo.info!=null">info=#{pojo.info},</if>
        <if test="pojo.passed!=null">passed=#{pojo.passed},</if>
        <if test="pojo.functionId!=null">function_id=#{pojo.functionId},</if>
        <if test="pojo.productVersionId!=null">product_version_id=#{pojo.productVersionId},</if>
    </sql>

    <select id="findById" resultMap="needsVersionResult">
        SELECT * FROM needs_version
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM needs_version
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="needsVersionResult">
        SELECT * FROM needs_version
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO needs_version
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE needs_version
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM needs_version WHERE id=#{id}
    </delete>
</mapper>