<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrganizationMapper">
    <!--xml config form table organization-->
    <resultMap id="organizationResult" type="pojo.Organization">
    <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="managerId" column="manager_id"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.name!=null">AND name LIKE '%${pojo.name}%'</if>
            <if test="pojo.managerId!=null">AND manager_id=#{pojo.managerId}</if>
            <if test="pojo.remark!=null">AND remark LIKE '%${pojo.remark}%'</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.name!=null">name=#{pojo.name},</if>
        <if test="pojo.managerId!=null">manager_id=#{pojo.managerId},</if>
        <if test="pojo.remark!=null">remark=#{pojo.remark},</if>
    </sql>

    <select id="findById" resultMap="organizationResult">
        SELECT * FROM organization
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM organization
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="organizationResult">
        SELECT * FROM organization
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO organization
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE organization
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM organization WHERE id=#{id}
    </delete>
</mapper>