<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductMapper">
    <!--xml config form table product-->
    <resultMap id="productResult" type="pojo.Product">
    <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="productLineId" column="product_line_id"/>
        <result property="managerId" column="manager_id"/>
        <result property="type" column="type"/>
        <result property="targetProductId" column="target_product_id"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.name!=null">AND name LIKE '%${pojo.name}%'</if>
            <if test="pojo.productLineId!=null">AND product_line_id=#{pojo.productLineId}</if>
            <if test="pojo.managerId!=null">AND manager_id=#{pojo.managerId}</if>
            <if test="pojo.type!=null">AND type=#{pojo.type}</if>
            <if test="pojo.targetProductId!=null">AND target_product_id=#{pojo.targetProductId}</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.name!=null">name=#{pojo.name},</if>
        <if test="pojo.productLineId!=null">product_line_id=#{pojo.productLineId},</if>
        <if test="pojo.managerId!=null">manager_id=#{pojo.managerId},</if>
        <if test="pojo.type!=null">type=#{pojo.type},</if>
        <if test="pojo.targetProductId!=null">target_product_id=#{pojo.targetProductId},</if>
    </sql>

    <select id="findById" resultMap="productResult">
        SELECT * FROM product
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="productResult">
        SELECT * FROM product
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO product
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE product
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM product WHERE id=#{id}
    </delete>
</mapper>