<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProductVersionMapper">
    <!--xml config form table product_version-->
    <resultMap id="productVersionResult" type="pojo.ProductVersion">
    <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="productId" column="product_id"/>
        <result property="code" column="code"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.name!=null">AND name LIKE '%${pojo.name}%'</if>
            <if test="pojo.productId!=null">AND product_id=#{pojo.productId}</if>
            <if test="pojo.code!=null">AND code=#{pojo.code}</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.name!=null">name=#{pojo.name},</if>
        <if test="pojo.productId!=null">product_id=#{pojo.productId},</if>
        <if test="pojo.code!=null">code=#{pojo.code},</if>
    </sql>

    <select id="findById" resultMap="productVersionResult">
        SELECT * FROM product_version
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product_version
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="productVersionResult">
        SELECT * FROM product_version
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO product_version
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE product_version
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM product_version WHERE id=#{id}
    </delete>
</mapper>