<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">
    <!--xml config form table role-->
    <resultMap id="roleResult" type="pojo.Role">
    <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="info" column="info"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.roleName!=null">AND role_name LIKE '%${pojo.roleName}%'</if>
            <if test="pojo.info!=null">AND info LIKE '%${pojo.info}%'</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.roleName!=null">role_name=#{pojo.roleName},</if>
        <if test="pojo.info!=null">info=#{pojo.info},</if>
    </sql>

    <select id="findById" resultMap="roleResult">
        SELECT * FROM role
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM role
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="roleResult">
        SELECT * FROM role
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO role
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE role
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM role WHERE id=#{id}
    </delete>
</mapper>