<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//auto.mybatis.org//DTD Mapper 3.0//EN"
        "http://auto.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserTablePermissionMapper">
    <!--xml config form table user_table_permission-->
    <resultMap id="userTablePermissionResult" type="pojo.UserTablePermission">
    <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="tablePermissionId" column="table_permission_id"/>
    </resultMap>
    <!--查询条件语句-->
    <sql id="queryByExample">
        <where>
            <if test="pojo.id!=null">AND id=#{pojo.id}</if>
            <if test="pojo.userId!=null">AND user_id=#{pojo.userId}</if>
            <if test="pojo.tablePermissionId!=null">AND table_permission_id=#{pojo.tablePermissionId}</if>
    </where>
    </sql>
    <!--更新赋值条件语句-->
    <sql id="updateSet">
        <if test="pojo.userId!=null">user_id=#{pojo.userId},</if>
        <if test="pojo.tablePermissionId!=null">table_permission_id=#{pojo.tablePermissionId},</if>
    </sql>

    <select id="findById" resultMap="userTablePermissionResult">
        SELECT * FROM user_table_permission
        WHERE id=#{id}
    </select>

    <select id="getExampleCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_table_permission
        <include refid="queryByExample"/>
    </select>

    <select id="findByExample" resultMap="userTablePermissionResult">
        SELECT * FROM user_table_permission
        <include refid="queryByExample"/>
        LIMIT #{start},#{length}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pojo.id">
        INSERT INTO user_table_permission
        <include refid="updateSet"/>
    </insert>

    <update id="update">
        UPDATE user_table_permission
        <include refid="updateSet"/>
        WHERE id=pojo.id
    </update>
    <delete id="delete">
        DELETE FROM user_table_permission WHERE id=#{id}
    </delete>
</mapper>